In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
#define the function#
def find_max_list(list):
    list_len = [len(i) for i in list]
    print(max(list_len))

In [5]:
gene_id = ["a","b","c"]
transcript_id = ["Fra","Frb","Frc"]
counts=[np.array([0,0,0,3,5,0,0]),np.array([0,3,0,5,7,2,3,5,6]),
        np.array([4,7,9,0,0,0,0,5,6,8,4,6,0,0])]
cds_starts = [1, 3, 2]
cds_ends = [4, 6, 10]

In [8]:
counts[0][1:4+1]

array([0, 0, 3, 5])

In [10]:
# This is the part that changes it from list of arrays to list of lists.
for i in range(len(counts)):
    x = list(counts[i][cds_starts[i]:cds_ends[i]+1])
    x.insert(0,gene_id[i])
    x.insert(0,transcript_id[i])
    counts[i] = x

In [11]:
counts

[['Fra', 'a', 0, 0, 3, 5],
 ['Frb', 'b', 5, 7, 2, 3],
 ['Frc', 'c', 9, 0, 0, 0, 0, 5, 6, 8, 4]]

In [182]:
with open('file.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(counts)

In [111]:
np.concatenate(counts)

array([0, 0, 0, 3, 5, 0, 0, 0, 3, 0, 4, 7, 9, 0, 0, 0, 0, 5, 6, 8, 4, 6,
       0, 0])

In [105]:
array=np.column_stack((gene_id,transcript_id,counts))

In [131]:
np.concatenate(array)

array(['a', 'Fra', list([0, 0, 0, 3, 5, 0, 0]), 'b', 'Frb',
       list([0, 3, 0]), 'c', 'Frc',
       list([4, 7, 9, 0, 0, 0, 0, 5, 6, 8, 4, 6, 0, 0])], dtype=object)

In [107]:
array.reshape((3,16))

ValueError: cannot reshape array of size 9 into shape (3,16)

In [ ]:
fmt = '%s , %s, '

np.savetxt("test.txt", array, fmt=, delimiter=",")

ok, This is the solution I am looking for but the Ram that is used up by trying to convert that into a dataframe is unbelievable. It is just entirely unfeasible.

In [89]:
df.insert(0,"gene_id", gene_id)
df.insert(1,"transcript_id", transcript_id)

In [90]:
df.to_csv

,gene_id,transcript_id,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,a,Fra,0,0,0,3.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b,Frb,0,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,c,Frc,4,7,9,0.0,0.0,0.0,0.0,5.0,6.0,8.0,4.0,6.0,0.0,0.0